* { box-sizing: border-box; }
html,
 body,
  #root
   { height: 100%; }
html { overflow-y: scroll; }
body { 
  margin: 0; 
  font-family: Roboto,
   "Helvetica Neue", Arial, sans-serif; 
   background: #f7f7fb; 
  }
